.container {
  display: flex;
  width: 100%;
}

.container header {
  background: #f3e2e2;
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 16px 32px;
  width: 100%;
}

.logo {
  max-width: 350px;
  width: 70%;
  height: auto;
  padding: 0 30px;
}
