.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0px 16px;
}

.bottomBanner{
  height: 16px;
  width: 100%;
  background: #652235;
  margin-top: -5px;
}

.ImgChurch{
  border-radius: 16px;
}

.ImgBuffet{
  border-radius: 16px;
}

.mapsChurch{
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapsBuffet{
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listGifts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  margin-bottom: 35px;
}
.signedList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
}

.message{
  width: 100%;
}

.message p{
  margin: 20px 0;
}
