.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1080px;
  padding: 0px 16px;
}

.bottomBanner{
  height: 16px;
  width: 100%;
  background: #652235;
  margin-top: -5px;
}

.ImgChurch{
  border-radius: 16px;
}

.ImgBuffet{
  border-radius: 16px;
}

.mapsChurch{
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mapsBuffet{
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listGifts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  margin-bottom: 35px;
}
.signedList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
}

.message{
  width: 100%;
}

.message p{
  margin: 20px 0;
}

.textCall{
  color: #652235;
  font-weight: 600;
  text-align: center;
}

.legendImage{
  color: #727272;
}

@media only screen and (min-width: 768px) {
  .containerBannerMain{
    max-height: 500px;
    max-width: 1388px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .mapsChurch, .mapsBuffet{
    margin-top: 64px;
  }

  .bottomBanner{
    max-width: 1388px;
    margin: 0 auto;
  }

  .iframeChurch, .iframeBuffet {
    height: 450px !important;
  }
}