.item {
  display: flex;
  box-shadow: 2px 2px 5px #0002;
  padding: 15px;
  width: fit-content;
  flex-wrap: wrap;
  margin: 10px 0;
  color: #FFFFFF;

  background: rgba(101, 34, 53, 0.5);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.itemSigned {
  display: flex;
  box-shadow: 2px 2px 5px #0002;
  padding: 15px;
  border-radius: 20px;
  width: 100%;
  flex-wrap: wrap;
  margin: 10px 0;
  background: #f3e2e2;
  color: #fff;
}

.inputSign,
.inputContact {
  border: 1px solid #cecece;
  display: flex;
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px 0 0 10px;
}

.itemName {
  width: 250px;
  padding: 10px;
}

.itemSigned .itemName {
  color: #652235;
}

.itemInput {
  width: 100%;
}

.action {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
}

/* .action > div {
  width: 100%;
} */

.action button {
  height: 100%;
  padding: 10px;
  background: #652235;
  border: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.actionSigned {
  width: 100%;
}

.actionSigned .textSigned h3 {
  color: #652235;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  background: #fff;
}

.itemSigned .actionSigned .textSigned h3 {
  color: #652235;
  padding: 10px;
  border-radius: 5px;
}

.sugestion,
.noSugestion {
  width: 100%;
}

.sugestion button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #652235;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #0005;
}

.sugestion button:hover {
  box-shadow: none;
}

.noSugestion button {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: #ccc;
  border-radius: 10px;
}

.itemSigned .sugestion button {
  background: #652235;
}